
%button.hide.btn.btn-primary.btn-lg{"data-target" => "#blade-get", "data-toggle" => "modal"}
#blade-get.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        %p.heart-tree
          You got: THE HEART BLADE!!!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
