
%button.hide.btn.btn-primary.btn-lg{"data-target" => "#heart-talk", "data-toggle" => "modal"}
#heart-talk.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title You Only Get One
      .modal-body
        %p.heart-tree
          You can't lift the sword with just one heart. You came here to save the world, but not everyone can do that. Maybe you are the one who can; maybe you are someone who will give their heart to another, in the hopes that they will be the one.
        %p
          If you give your heart away, you do not get another one.
      .modal-footer
        .row
          .span3
            %p
              Press 'x' to give your heart
          .span2
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
